{% load static %}
<footer class="pt-4 navbar-custom text-light">

    <div class="container-fluid text-center text-md-left">

      <div class="row">

        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">
            <img src="{% static 'img/myschool.png' %}" class="img-brand" alt="My pizza">
            My school
          </h5>
          <p>Reserve in order to attend your lectures</p>
        </div>

        <hr class="clearfix w-100 d-md-none pb-3">

        

       

      </div>

    </div>

    <div class="text-center py-3">
      Copyright &copy; <span class="year">2021</span> My school. Powered By Mohammad magdy
    </div>

  </footer>