{% extends 'basearab.html' %}
{% load static %}
{% block content %}

<br>

<div class="my-form container p-5 my-5 rounded border border-warning">
    <form id="identicalForm" class="form-horizontal" data-by-feedback-icons-valid="glyphicon glyphicon-ok"
    data-by-feedback-icons-invalid="glyphicon glyphicon-remove"
     data-by-feedback-icons-validating="glyphicon glyphicon-refresh"
    method="POST"
     >
     {% csrf_token %}
    <h2 class="text-center">الاشتراك</h2>
    <hr>
    {% if request.user.is_authenticated %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong></strong>
      welcome,{{request.user.username}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    {% else %}
{% if messages %}

      {% for msg in messages %}
                <div class="alert alert-{{msg.tags}} alert-dismissible fade show" role="alert">
                  <strong></strong>
                  {{msg}}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            {% endfor %}

       {% endif %}
       {% endif %}
       {% if request.user.is_authenticated  %}
       

       {% else %}
       
      <div class="form-row" >
      
        <div class="col-lg-7 mb-3">
          <label for="validationServer01">اسم الطالب</label>
          <input type="text" class="form-control " style="height:45px;"name="fnamear" id="validationServer01" placeholder="ادخل الاسم الخاص بك" value="{{fname}}" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        
      
      <div class="col-lg-7  mb-3">
          <label for="validationServer03">رقم الهاتف</label>
          <input type="tel" class="form-control " style="height:45px;"name="phonear" id="validationServer03" placeholder="ادخل رقم الهاتف الخاص بك" value="{{phone}}" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
     </div>
     {% endif %}
     {% if request.user.is_authenticated  %}
    
     {% else %}
       <div class="form-row">
      
        <div class="col-lg-6 mb-3">
          <label for="validationServer01">كلمة السر</label>
          
          <div class="input-group">
            
          <input type="password" class="form-control " style="height:45px;"pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="passar" id="validationServer0112" placeholder="ادخل كلمة سر مناسبة"name="password"
          value="{{pass}}"
      data-by-identical="true"
       data-by-identical-field="confirm password"
        data-by-identical-message="the password and its confirm are not the same"
          required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="input-group-addon" >
            <i class="bi bi-eye"  ></i>
            <input type="checkbox"style="margin-buttom:5px;"   onclick="showpass()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
              <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
              <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
            </svg>
            </button>
            </span>
          </div>
        </div>
        </div>
        <div class="col-lg-6  mb-3">
          <label for="validationServer02">تاكيد كلمة السر</label>
          <input type="password" class="form-control " style="height:45px;" value="{{confirmpass}}" name="confirmpassar" id="validationServer02" placeholder="قم بتاكيد كلمة السر" 
                 data-by-identical="true"
       data-by-identical-field="password"
        data-by-identical-message="the password and its confirm are not the same"
    
          required>
          <div class="valid-feedback">
           val
          </div>
          <h6 id="rw" class="valid">passwords don,t match</h6>
        </div>
        <div  id="lib" style="display:none" >
       
         
           
              <label  >
                <span id="numb" class="invalid"> رقم</span>  و <span id="low" class="invalid">حرف انجليزى صغير</span>و<span id="up" class="invalid">حرف انجليزى كبير</span>تتضمن<span id="char" class="invalid">على الاقل ثمان عناصر</span>كلمة السر يجب ان تتكون من
               </label>
           
          
         </div>
      </div>
      {%  endif %}
    
     
     {% if request.user.is_authenticated %}
    
     {% else %}
      <div class="form-row">
        <div class="col-lg-6 mb-3">
          <label for="validationServer03">العنوان</label>
          <input type="text" class="form-control" style="height:45px;"value="{{city}}" name="cityar" id="validationServer033" aria-describedby="validationServer03Feedback" placeholder="ادخل عنوانك" required>
          <div id="validationServer03Feedback" class="invalid-feedback">
            Please provide a valid address.
          </div>
        </div>
      
      </div>
      {% endif %}
      {% if request.user.is_authenticated %}
      
      {% endif %}
      {% if request.user.is_authenticated  %}

      {% else %}
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input " name="terms"type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback"  required>
          <label class="form-check-label" for="invalidCheck3">
            الموافقة على الشروط
          </label>
          <div  id="invalidCheck3Feedback" class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div>
      {% endif %}
      {%  if request.user.is_authenticated %}
      

      {% else %}
      <div class="form-row d-flex justify-content-center">
      <div class="col-lg-6 mb-3">
      <button class="btn btn-outline-success" name="btnsubmitup"type="submit"data-toggle="modal"data-target="#exampleModal" onclick="showmodel()">اشترك </button>
      </div>
      <div class="col-lg-6 mb-3">
      <button class="btn btn-outline-danger" type="reset" >اعد كتابة البيانات</button>
      </div>
      </div>
      

        
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Check</h5>
            <button type="button" class="btn-close" data-dismiss="modal"id="btnexit" aria-label="Close">&times </button>
          </div>
          <div class="modal-body">
            <form method="POST" id="frmpay" action="{% url 'payment' %}">
                {% csrf_token %}
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Shipment Address:</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="shipmentaddress" placeholder="Enter the address you want to recieve your order in.." value="{{shipadd}}"required>
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Shipment Phone:</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="shipmentphone" placeholder="Enter your phone number" value="{{shipphon}}" required>
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Card Number:</label>
                <input class="form-control" id="exampleInputEmail1" placeholder="333 333 333 333" name="cardnumber" value="{{cardno}}" required>
              </div>
              <div class="form-row">
              <div class="col-lg-6 mb-3">
                <label for="recipient-name" class="col-form-label">Expire Date:</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="expiredate" placeholder="mm/yy" value="{{date}}"required>
              </div>
              <div class="col-lg-6 mb-3">
                <label for="recipient-name" class="col-form-label">Security code:</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="securitycode" placeholder="333" value="{{code}}" required>
              </div>
              </div>
            </form>
          </div>
          <div class="modal-footer  justify-content-center">
            <button type="button" id="mod" data-dismiss="modal"  class="btn btn-outline-warning">Close</button>
            <button onclick="pay()" href="{% url 'payment' %}" name="btnpayment"  class="btn btn-outline-danger">Payment</button>
          </div>
        
        </div>
        
      </div>
    
    </div>
      {% endif %}
    </form>
    <script>
      function showmodel(){
      var pass = document.getElementById("validationServer0112");
      var name = document.getElementById("validationServer01");
     var phone=document.getElementById("validationServer03");
     var confirmpass=document.getElementById("validationServer02");
     var agree=document.getElementById("invalidCheck3");
     var address=document.getElementById("validationServer033");
     var modal=document.getElementById("btnexit");

     var capletter= /[A-Z]/g;
     var smallletter=/[a-z]/g;
     var nbars=/[0-9]/g;
     if(name.value==""){
     modal.click();
     }else{
      modal.click();
     }
    
    }
    </script>
    <script>
      var pass = document.getElementById("validationServer0112");
      var lib = document.getElementById("lib");
     
      var uppercase=document.getElementById("up");
      var lowercase=document.getElementById("low");
      var number=document.getElementById("numb");
     
      pass.onfocus=function(){
      
            lib.style.display='block';
        
      }
      pass.onkeyup=function(){
        var capletter= /[A-Z]/g;
        if(pass.value.match(capletter)){
         uppercase.style.color='green';
         
         }else{
          uppercase.style.color='red';
         }
         var smallletter=/[a-z]/g;
         if(pass.value.match(smallletter)){
            lowercase.style.color='green';
         }else{
           lowercase.style.color='red';
         }
         var nbars=/[0-9]/g;
         if(pass.value.match(nbars)){
           number.style.color='green';
         }else{
           number.style.color='red';
         }
         if(pass.value.length>=8){
           document.getElementById("char").style.color='green';
         }else{
          document.getElementById("char").style.color='red';
         }
         if(pass.value.match(capletter)&&pass.value.match(smallletter)&&pass.value.match(nbars)&&pass.value.length>=8){
           lib.style.display='none';
         }
      }
      pass.onblur=function(){
        lib.style.display='none';
      }
     
  </script>
  <script>
    

   function showpass(){
    
    passw=document.getElementById("validationServer0112");
    if(passw.type=='password'){
      passw.type='text';
    }else{
      passw.type='password';}
    
    }
  </script>
  <script>
    var input=document.getElementById("validationServer032");
    var liba=document.getElementById("libe");
     
    input.onfocus=function(){
      liba.style.display='block';
    }

    input.onblur=function(){
      liba.style.display='none';
    }
  </script>
    </div>
   
{% endblock content %}